body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(165, 182, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height */
}

#app {
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  background-color: #274e17;
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}